
/*=============================================
=            Element Styling                  =
=============================================*/


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

/*=============================================
=          Navigation Bar Components          =
=============================================*/

.left-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
    height: 100%;
    background-color: #e1eced;
}

.left-navbar h2 {
    font-family: 'ABeeZee';
    display: flex;
    justify-content: center;
    margin: 5% 0%;
}

.left-navbar h6 {
    display: flex;
    justify-content: center;
    bottom: 50%;
}

.left-navbar a, .left-navbar h6 {
    font-family: 'Archivo';
}
/*=============================================
=            Page Content Components          =
=============================================*/

.page-content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0;
    float: right;
}

.content {
    height: 100%;
}

#add-site {
    width: 37%;
}

#site-list {
    display: none;
    width: 45%;
}

#general {
    display: none;
}

/*----------  Site Input Form Components   ----------*/

.week-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-all-button {
    margin-top: 6%;
}

.weekday-text {
    margin-top: 20px;
}

.checkbox-label {
    margin: 0px 10px;
}

#add-site .input-time {
    width: 15%;
}

.input-time {
    width: 12%;
    margin: 0px 10px;
}

.weekday-checkbox {
    margin: 0px 10px;
}

/*----------  Modal Components  ----------*/

.pin-input {
    width: 15%;
}
