html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.page-content {
    float: right;
    width: 80%;
    height: 100%;
    margin: 0;
}

#left-navbar {
    float: left;
    width: 20%;
    height: 100%;
}

.weekday-text {
    margin-top: 20px;
}

.checkbox-label {
    margin: 0px 10px;
}

.input-time {
    margin: 0px 10px;
}

.weekday-checkbox {
    margin: 0px 10px;
}

#site-list {
    display: none;
}

#general {
    display: none;
}

.pin-input {
    width: 15%;
}
