
/*=============================================
=            Element Styling                  =
=============================================*/


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

/*=============================================
=          Navigation Bar Components          =
=============================================*/

.left-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
    height: 100%;
    background-color: #e1eced;
}

.left-navbar h2 {
    font-family: 'ABeeZee';
    display: flex;
    justify-content: center;
    margin: 5% 0%;
}

.left-navbar ul {
    list-style-type: none;
}

.left-navbar a, .left-navbar h6 {
    font-family: 'Archivo';
}

.link-logo {
    display: inline-block;
    margin-right: 2%;
}

.left-navbar h5 {
    display: inline-block;
}

.left-navbar h6 {
    display: flex;
    justify-content: center;
    bottom: 50%;
}

/*=============================================
=            Page Content Components          =
=============================================*/

.page-content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0;
    float: right;
}

.content {
    width: 45%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    margin: 3%;
}

#add-site {
    padding-right: 8%;
}

#site-list, #general {
    display: none;
}


/*----------  Add Site Components  ----------*/

#add-site .input-time {
    width: 15%;
}

/*----------  Site Input Form Components   ----------*/

.week-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weekday-text {
    margin-top: 20px;
}

.remove-button {
    display: inline-block;
    border: 1px solid black;
}

.site-name {
    display: inline-block;
    vertical-align: top;
}

.dropdown-button {
    display: inline-block;
}

.dropdown-div {
    display: inline-block;
    margin: 2% 0%;
}

.select-all-button {
    margin-top: 6%;
}

.checkbox-label {
    margin: 0px 10px;
}

.input-time {
    width: 12%;
    margin: 0px 10px;
}

.weekday-checkbox {
    margin: 0px 10px;
}

.form-anchor {
    border: 1px solid black;
}

/*----------  Modal Components  ----------*/

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    width: 60%;
}

.pin-label, .modal-title {
    margin-left: 5%;
}

.pin-label {
    margin-right: 5%;
}

.pin-input {
    width: 20%;
}


/*----------  General Options  ----------*/

#general-content {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.option {
    border-bottom: 2px solid black;
}

/*Useless settings*/
.options-label {
    margin: 0% 0% 0% 2%;
}

.options-label-div {
    width: 90%;
    padding: 2% 0%;
    display: inline-block;
    border-right: 2px solid black;
}

.options-checkbox-div {
    padding: 2% 0%;
    display: inline-block;
}


