.popup-window {
    width: 200px;
    height: 140px;
}

.timer-window {
    width: 240px;
    height: 80px;
}

.button-div {
    margin: 0;
    margin-top: 10px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timer {
    display: flex;
    justify-content: center;
}

#time {
    font-family: 'Orbitron';
}

.blocked-state-text {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
}

#block-button {
    width: 120px;
    height: 50px;
}

